.header{
    height:3rem;
}

/*html{
    overflow-x: hidden;
    overflow-y:hidden;
}*/

.img-fluid{
    width: 1500pxl;
}

.container-fluid{
    padding: 0;
}

.header a{
    margin: 1rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    display: block;
    font-weight: 500;
    background-color:#1B74E9;
}

a:hover{
    text-decoration: none;
    color:white;
}

.col-lg-3{
    margin-bottom:0.2rem;
    padding: 0;
    transition: all 0.3s ease-out;
}

.col-lg-3:hover{
    transform: scale(1.2);
    z-index: 999;
    background: black;
    box-shadow: 0 0 200px rgba(0,0,0,0.5);
}

.text_a{
    padding: 0.7rem;
    text-transform: uppercase;
}
.carousel {
    margin: 0 auto;
    width: 100%;
    height:38rem;
    /*border:2px solid red;*/
  }

.img-fluid{
    /*border:1px solid green;*/
    width: 50%;
    height:38rem;
}

h5{
    background-color:rgba(0,0,0,0.5);
}